[Unit]
Description=pi-commander e-paper display
After=network-online.target pi-commander-webserver.service
Wants=network-online.target
Requires=pi-commander-webserver.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/pi-commander/epaper

Environment=PYTHONUNBUFFERED=1

ExecStart=/usr/bin/python3 /home/pi/pi-commander/epaper/epd_commander.py

Restart=on-failure
RestartSec=5
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target